<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--这个action是URL链接 -->
<form method="post" action="form_post">
    姓名:<input type="text" name="ashen" /><br>
    密码:<input type="password" name="pwd" /><br>
    性别:<input type="radio" name="gender" value="male" />男
    <input type="radio" name="gender" value="male" />女<br>
    爱好:<input type="checkbox" name="hobby" value="嘻哈" />嘻哈
    <input type="checkbox" name="hobby" value="民谣" />民谣
    <input type="checkbox" name="hobby" value="python" />python
    <input type="checkbox" name="hobby" value="LOL" />LOL<br>
    <input type="submit" value="提交" />
</form>
</body>
</html>